.cart {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 90%;
    height: 55px;
    margin-top: 15px;
    align-items: center;
}

.image img {
    height: 50px;
    width: 50px;
}

.image {
    width: 10%;
    text-align: center;

}

.title {
    width: 30%;
    border-left: solid black 1px;
    text-align: center;

}

.quantity {
    width: 20%;
    border-left: solid black 1px;
    text-align: center;

}

.price {
    width: 20%;
    border-left: solid black 1px;

    text-align: center;

}

.subtotal {
    width: 20%;
    border-left: solid black 1px;
    border-right: solid black 1px;
    text-align: center;

}

.buy {
    margin-top: 50px;
    margin-left: 50px;
    background-color: #000c43c9;
    font-weight: bold;
}

.clearCart {
    background-color: #c9000c;
    font-weight: bold;
}

.trash {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}