.cardImg  {
        height: 300px;
    }
    
    .titulo {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 100;
        padding-top: 20px;
        padding-bottom: 20px;
        color: rgb(52, 49, 49);
        text-align: center;
    }
    
    .card {
        justify-content: space-evenly;
        
    }
    
    .spinnerContainer {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        
    }
    
    .loading {
        font-weight:700;
        padding-left: 15px;
    }
    
    .link {
        text-decoration: none;
    }