.navBar {
    background-color: #9b9b9b !important;
    padding-right: 10px;
    width: 100%;
}

.navBarHiit {
    transform: translate(-30px, 0px);    
}

.navCarrito {
    transform: translate(30px, 0px);
}

.navHome {
    padding-left: 10px !important;
    font-weight: 700;
}

.navAccesorios {
    padding-left: 30px !important;
    font-weight: 700;
}

.navSuplementos {
    padding-left: 30px !important;
    font-weight: 700;
  }
  
.navIndumentaria {
    padding-left: 30px !important;
    font-weight: 700;
  }

